.container-principal {
  width: 100%;
  padding: 2rem;
}

.container-principal > h1 {
  text-align: center;
}

.container-section {
  width: 100%;
}

.inner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
  border: 2px solid #ffa500;
}

.inner-section > * {
  margin: auto;
}

.inner-section > h2 {
  margin-bottom: 2rem;
}

.inner-section > span {
  margin-bottom: 2rem;
}

.cont-input {
  width: 100%;
  display: flex;
  align-items: center;
}

.cont-input > label {
  margin: auto;
  margin-left: 0px;
  width: 40%;
}

.cont-input > input {
  margin: auto;
  margin-right: 0px;
  width: 60%;
}

.button {
  width: 12rem;
  margin-top: 2rem;
  border-radius: 15px;
}

.btn_delete {
  background-color: rgba(255, 0, 0, 0.6);
}

.btn_modify {
  background-color: rgba(0, 255, 0, 0.6);
}

.category {
  margin-top: 2rem;
}

.category-title {
  display: flex;
  padding: 1rem;
  background-color: #ffa500;
  padding-left: 4%;
}

.category-title > .container-title {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-title > .container-title > h2 {
  color: black;
}

.container-icon {
  height: 100%;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  margin-right: 0;
}

.minum {
  display: none;
}

.container-icon > .fas {
  font-size: 150%;
  color: black;
}

.list {
  display: none;
}

.list > div {
  height: 5rem;
  border: 1px solid #ffa500;
  display: flex;
  align-items: center;
}

.cont-header {
  background-color: rgba(255, 165, 0, 0.5);
}

.user {
    width: 50%;
    margin: auto;
    margin-left: 2rem;
    border-right: 1px solid #ffa500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userHeader {
  margin-left: 0;
  border-right: 1px solid black;
}

.nameRest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-right: 2rem;
}

.nameHeader {
  margin-right: 0;
}

.cont-user > .name, .cont-user > .surname, .cont-user > .user{
  width: 33.33333%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-user > .name {
  border-right: 1px solid #ffa500;
}

.cont-user > .nameHeader {
  border-right: 1px solid black;
}

@media screen and (min-width: 1024px) {

  .container-principal {
    height: 87%;
  }

  .container-section {
    height: 90%;
  }

  .cont-mod {
    width: 40%;
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .category {
    height: 15%;
  }

  .category-title {
    height: 100%;
  }

  .container-icon {
    display: none;
  }

  .cont-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    float: left;
    margin: auto;
  }

  .list {
    display: block;
    height: 80%;
    overflow-y: scroll;
    border: 1px solid #ffa500;
  }

  .list > div {
    border: 0px;
    border-bottom: 1px solid #ffa500;
  }

  .inner-section {
    margin: auto;
    margin-top: 2rem;
    width: 90%;
  }

  .inner-section-cat {
    width: 90%;
    height: 50%;
  }
}
