.toOpac {
  transition: opacity 0.4s linear;
}

.right_figure {
  position: relative;
}

.contNumber {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background-color: #ffa500;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contNumber > span {
  margin: auto;
}

.chart {
  width: 40%;
  height: 87%;
  position: absolute;
  z-index: 1;
  right: 0;
  background-color: rgb(255, 165, 0);
  transition: right 0.2s linear;
  display: none;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.chartElement {
  height: 20%;
  width: 100%;
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: white;
  display: flex;
  align-items: center;
}

.contInfochart {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.contInfochart > span {
  margin: auto 0;
}

.contImgChar {
  display: none;
  width: 90%;
  height: 100%;
  margin-right: 2rem;
}

.contImgChar > figure {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.contImgChar > figure > img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.contInfochart > .chartProduct {
  border-bottom: 1px solid #ffa500;
}

.contInfochart > .title-forn {
  font-family: "sanchez";
  margin: auto 0;
  font-size: 11pt;
  font-weight: 600;
}

.contLink {
  width: 80%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem auto;
  border: 1px solid black;
  border-radius: 15px;
}

.contLink > a {
  margin: auto;
}

@media screen and (min-width: 768px) {

  .chartElement {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }

  .contLink {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .contImgChar {
    display: block;
  }
}
