#confirmDialog {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.cont_dialog {
  height: 20%;
  width: 80%;
  background-color: #ffa500;
  margin: auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.cont_dialog > span {
  margin: auto;
  text-align: center;
  font-size: 14pt;
}

.cont_btn_confirm {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  width: 80%;
}

.contProva {
  height: 40%;
}

.button {
  margin: auto;
  border-radius: 15px;
}

.left {
  background-color: rgba(255, 0, 0, 0.6);
}

.right {
  background-color: rgba(0, 255, 0, 0.6);
}

@media screen and (min-width: 768px) {
  .cont_dialog {
    width: 50%;
  }
}
