.login-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-information > h1 {
  text-align: center;
}

.login-information > form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mailToRecovery {
  width: auto;
  margin: auto;
}

.send_email {
  margin-top: 1rem;
  border-radius: 15px;
}

#back_to_login {
  margin-top: 1rem;
}
