footer {
  border-top: 1px solid black;
  background-color: rgba(255, 165, 0, 0.7);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 5rem;
  margin-top: 4%;
}

footer > * > * {
  margin: 1rem auto 0;
}

footer > section {
    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: center;
}


footer #cuisine-types p {
  padding: 0px 2px;
  background-color: rgba(255, 165, 0, 0.9);
}

.subtitles-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitles-footer > span.title-forn {
  max-width: 70%;
  border: 1px solid black;
  border-radius: 25px;
  padding: 1% 3%;;
}

#information {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#information > span {
  display: inline-block;
  margin: auto;
}

#information > span > a {
  color: black;
  text-decoration: underline;
}

/*#information > span > a:hover  {
  text-decoration: underline;
}*/

#typologies {

}
