@font-face {
   font-family: 'main';
   src: url('../font/HATTEN.TTF') format('truetype');
}

@font-face {
   font-family: 'sanchez';
   src: url('../font/Sanchez-Regular.ttf') format('truetype');
}

html {
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  /*background-image: url("../img/campus.jpg");
  background-size: cover;*/
}

p, span {
  font-family: "sanchez";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "main";
  /*font-size: 120%;*/
  font-weight: 200;
  margin: 0px;
}

.title-forn {
  font-size: 18pt;
  font-family: "main";
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 15pt;
  }
}
