header {
  border-bottom: 1px solid black;
  margin: auto;
  height: 13%;
  margin: 0 2%;
}

header > a > figure, header > figure {
  height: 100%;
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
}

.right_figure {
  float: right;
}

#logo {
  height: 75%;
  width: auto;
}

#carrello {
  height: 40%;
  width: auto;
}

#navExtended {
    display: none;
}

.container-toggle {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  margin-right: 2%;
}

.toggle {
  padding: 1px 6px;
  border: 1px solid black;
  float: right;
  border-radius: 10px;
  padding: 9px 10px;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
}

.toggle > .icon-bar + .icon-bar {
  margin-top: 4px;
}

#nav-collapsed {
  width: 96%;
  margin: auto;
  display: none;
  overflow: hidden;
}

#nav-collapsed > ul {
  list-style: none;
  padding: 0px;
  text-align: center;
}

#nav-collapsed > ul > li {
  padding: 2% 0%;
  background-color: rgb(255, 165, 0);
}

#nav-collapsed > ul > li.opac {
  background-color: rgba(255, 165, 0, 0.5);
}

#nav-collapsed > ul > li > a:focus, #nav-collapsed > ul > li > a:hover, #nav-collapsed > ul > li.opac > a:focus, #nav-collapsed > ul > li.opac > a:hover {
  background-color:transparent;
}

#nav-collapsed > ul > li > a {
  color: black;
}

button > span {
   background-color: black;
}

@media screen and (min-width: 768px) {
  header * {
    font-size: 12pt;
  }

  #nav-collapsed {
    display: none;
  }

  .container-toggle {
    display: none;
  }

  #navExtended {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 65%;
    height: 100%;
  }

  #navExtended > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 25%;
    padding: 0% 2%;
    background-color: rgb(255, 165, 0);
    height: 65%;
    margin: auto;
    margin-left: 2%;
    border: 1px solid black;
    border-radius: 10px;
  }


  #navExtended > div.opac {
    background-color: rgba(255, 165, 0, 0.5);
  }

  #navExtended > div > span > a {
    color: black;
    height: 100%;
    margin: auto;
  }

  #navExtended >div > span {
    display: inline-block;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  #navExtended {
    width: 70%;
  }
}
