/*Override view_prodotti.css*/
.row-product {
  height: 11rem;
}

.container-information {
  height: 100%;
  border: 0px;
  display: flex;
  align-items: center;
}

.information-product {
  height: auto;
}

/*new css specific*/

.category-title > .container-icon >.fas {
  font-size: 26pt;
}

.category-title > .up {
  display: none;
}

.subcategories {
  height: auto;
  display: none;
  overflow: hidden;
}

.sub-category > .category-title {
  background-color: rgba(255, 165, 0, 0.5);
  height: 4rem;
  border-bottom: 1px solid #ffa500;
}

.sub-category > .category-title > .container-icon > .fas {
  font-size: 18pt;
}
