body {
  background: radial-gradient(ellipse at top left, #ffa500, transparent),       /* arancione genrale del sito */
              radial-gradient(ellipse at bottom left, #a28a5d, transparent),    /* giallo ocra tipo beige */
              radial-gradient(ellipse at top right, #000000, transparent),      /* nero */
              radial-gradient(ellipse at bottom right, #8c8982, transparent);   /* grigio */
  overflow: hidden;
}

#cred_used_user {
  display: inline-block;
  color: red;
}

#cred_used_forn {
  display: inline-block;
  color: red;
}

#lost_password {
  font-size: 8pt;
  margin-top: 0.5rem;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-div {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.second {
  display: none;
}

.logo-div figure {
  height: 55%;
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-div figure img {
  height: 100%;
}

.login-container {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.login {
  min-height: 50%;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  padding: 0px 2% 3%;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-information {
  margin: auto;
}

.login-information > form > label{
  margin-top: 4%;
}

.login-information #back_to_login {
  text-decoration: underline;
  color: #337ab7;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.container .login-container .login-information #invalid-credentials {
  color: red;
  margin: auto;
}


.login-data {
  margin: auto;
  margin-top: 4%;
  width: 80%;
  border-radius: 15px;
  padding-left: 4%;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  height: 2.5em;
  min-height: 2.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: auto;
  /*border-bottom: 1px solid black;*/
}

.login-window {
  border-right: 1px solid black;
  border-top-right-radius: 15px;
  border-collapse: collapse;
}

.reg-window {
  border-bottom: 1px solid black;
}

.btn > p {
   font-family: "main";
   background-color: white;
   border: none;
   margin: auto;
   font-size: 16pt;
 }

fieldset {
  border-color: #ffa500;
}

.reg-information {
   display: none;
   height: 90%;
   overflow-y: scroll;
   align-items: center;
}

#chose-type > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#chose-type > div > label {
  display: inline-block;
  width: 60%;
}

#chose-type > div > input {
  float: right;
}

.information-block {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

.information-block > * {
  display: flex;
  align-items: center;
  margin-top: 6%;
}

.information-block > .section_desc {
  display: flex;
  flex-direction: column;
}

.information-block > button {
  margin: auto;
  margin-top: 5%;
  border-radius: 15px;
}

.information-block > * > p {
  display: none;
}

.information-block > .section_desc > textarea {
  resize: none;
  width: 100%;
  margin-top: 0.2rem;
}

.information-block > * > label {
  margin: auto;
  margin-left: 0;
}

.information-block > * > input[type="text"], input[type="email"] {
  width: 55%;
  margin: auto;
  margin-right: 0;
}

.information-block > input[type="text"] {
  width: 60%;
}

.forn {
  display: none;
}

.full-row {
  display: inline-block;
  text-align: center;
  width: 100% !important;
  /*margin-bottom: 6%;*/
}

.forn > .hour-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 6% 4% 6%;
}

.forn > .hour-cont > .hour {
  margin-top: 6%;
}

.insertLogo {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

#logoForn {
  width: 11rem;
  margin-top: 6%;
}

@media screen and (min-width: 768px) {

  .btn > p {
    font-size: 20pt;
  }

  .logo-div {
    height: 35%;
  }

  .login {
    min-height: 60%;
    width: 45%;
  }


  #lost_password {
    font-size: 10pt;
  }
}

@media screen and (min-width: 1024px) {

  body {
    background: radial-gradient(ellipse at bottom right, #ffa500, transparent),       /* arancione genrale del sito */
                radial-gradient(ellipse at top right, #a28a5d, transparent),    /* giallo ocra tipo beige */
                radial-gradient(ellipse at bottom left, #000000, transparent),      /* nero */
                radial-gradient(ellipse at top left, #8c8982, transparent);   /* grigio */
  }

  .container {
    flex-direction: row;
  }

  .logo-div {
    height: 20%;
    width: 35%;
    margin: auto;
  }

  .logo-div > figure {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  .logo-div > figure > img {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    margin: auto;
  }

  .login-container {
    height: 70%;
    width: 40%;
    margin: auto;
    flex-direction: row;
  }

  .login {
    width: 100%;
    height: 100%;
  }


  #lost_password {
    font-size: 12pt;
  }

  .second {
    display: flex;
  }

  .second {
    height: 35%;
  }
}
