#container-principal {
  height: 87%;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

#container-principal > h1 {
  margin-bottom: 2rem;
  text-align: center;
}

#container_mod {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ffa500;
  border-radius: 25px;
  height: 85%;
  padding: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
}

.form_modForn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.row_img {
  height: 30%;
}

.row_mod {
  width: 100%;
  position: relative;
  margin: auto;
}

.cont_img {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cont_img > figure {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont_img > figure > img {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.none {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
  display: none;
}

.cont_input_file {
  height: 45%;
  width: 80%;
  background-color: rgb(255, 160, 0);
  border: 2px solid #ffa500;
  border-radius: 25px;
  padding: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont_input_file > input {
  margin: auto;
}

.cont_new_img {
  height: auto;
  width: 100%;
  margin: auto;
}

.cont_new_img > figure {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont_new_img > figure > img {
  height: 14rem;
  width: 18rem;
}

.cont_new_img > figure > figcaption {
  text-align: center;
  margin-bottom: 1rem;
}

.confirm_btn {
  margin: auto;
  border-radius: 15px;
}

.row_mod > div {
  display: flex;
  align-items: center;
}

.row_mod > .fas {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20pt;
  color: rgb(0, 205, 0);
  margin-top: 0px;
}

.row_i {
  margin-top: -0.8%;
}

.labelMod {
  width: 35%;
  margin-bottom: 0px;
}

.inputMod {
  width: 45%;
}

.cont_giorni {
  display: flex;
  align-items: center;
}

.contInputCheck {
  height: 20%;
  width: 45%;
  margin: 0 auto 0 4%;
}

.cont_hour {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.contHourOpen {
  display: flex;
  width: 45%;
  margin-left: 0%;
  align-items: baseline;
}

.contHourClose {
  display: flex;
  width: 45%;
  margin-left: 0%;
  align-items: baseline;
}

.hh {
  border-radius: 15px;
  width: auto;
  width: 50%;
  text-align: center;
}

.btn_forn, .button {
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0.6);
  width: 12rem;
  margin: auto;
}

.right {
}

.cont_btn > .right {
  float: right;
  background-color: lightgray;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .btn_forn, .button {
    width: 16rem;
  }

}

@media screen and (min-width: 1024px) {

  #container-principal > h1 {
    text-align: left;
    padding-left: 2rem;
  }

  #container-principal {
    margin: inherit;
    padding: 2rem
  }

  #container_mod {
    align-items: none;
    border: 0px;
  }

  .row_img {
    display: flex;
    align-items: center;
    position: relative;
  }

  .cont_img > figure {
    width: auto;
  }

  .btn_forn {
    margin: inherit;
  }

  .labelMod {
    width: 20%;
  }

  .row_mod > div {
    width: 80%;
    float: left;
  }

  .row_mod > .fas {
    float: left;
    top: 0;
    right: 40%;
    transform: none;
  }

  .row_mod > div.cont_img {
    width: auto;
    margin: auto;
    margin-left: 0;
    margin-right: 4rem;
    float: none;
    position: relative;
    left: 0;
    transform: none;
  }

  .row_mod > span.i_img {
    margin: auto;
    margin-left: 0;
    position: relative;
    right: 0;
  }

}
