.category-title {
  display: flex;
  align-items:center;
}

.button {
  border-radius: 15px;
  margin: 0 auto;
}

.modify_btn {
  background-color: rgba(0, 255, 0, 0.6);
}

.modify_btn_cat {
  position: absolute;
  right: 15%;
}

.delete_btn {
  background-color: rgba(255, 0, 0, 0.6);
}

.modify_category {
  height: 5rem;
  display: none;
  flex-direction: row;
  align-items: center;
  padding: 4%;
  border: 1px solid #ffa500;
}

.modify_category_large {
  display: none;
}

.modify_category > label {
  margin-bottom: 0;
}

.modify_category_large > label {
  margin-bottom: 0;
}

.modify_category > #newCatSm {
  width: 50%;
  margin: auto;
}

.modify_category_large > #newCatLg {
  width: 50%;
}

@media screen and (min-width: 1024px) {

  .modify_category_large {
    height: 7rem;
    width: 50%;;
    display: none;
    flex-direction: row;
    align-items: center;
    margin: auto;
    border: 1px solid #ffa500;
  }

  .modify_category_large > input {
    margin: auto;
  }

  .modify_category_large > input.newCat {
    width: 60%;
    text-align: center;
  }

  .modify_category {
    display: none;
  }

}
