.cont_img > figure {
  /* flex-direction: row; */
}

.cont_img > figure > img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.row_mod > div {
  display: flex;
  align-items: center;
}

.cont_new_cat {
  display: flex;
  align-items: center;
}

.row_mod > div.cont_btn {
  flex-direction: column;
}

.btn_forn {
  background-color: rgba(0, 255, 0, 0.6);
}
