#container-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 87%;
}

#container-section > h1 {
  text-align: center;
  margin-top: 2rem;
}

.form_newP {
  margin: 2rem;
  border: 2px solid #ffa500;
  border-radius: 25px;
  padding: 2rem;
  width: 80%;
}

.container-input {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.container-input > label {
  width: 40%;
  margin: auto;
}

.container-input > input, .container-input > select {
  height: 22pt;
  width: 68%;
}

.container-input > input[type="file"] {
  padding-top: 4px;
}

.figProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  text-align: center;
  margin-bottom: 0.5rem;
}

.imgProduct {
  height: 14rem;
  width: 18rem;
}

.submit_cont {
  display: flex;
}

.button {
  border-radius: 15px;
  margin: 1rem auto 0px;
  background-color: rgba(0, 255, 0, 0.6);
}

@media screen and (min-width: 1024px) {

  #container-section {
    padding: 2rem;
    margin: inherit;
    width: 80%;
    align-items: baseline;
  }

  #container-section > h1 {
    text-align: left;
    padding-left: 2rem;
  }

  .form_newP {
    padding-left: 0px;
    border: 0px;
  }

  .container-input > label {
    width: 22%;
    margin: inherit;
  }

  .form_newP {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .container-input {
    margin: auto 0;
  }

  .figProduct {
    width: 90%;
    flex-direction: row;
  }

  figcaption {
    text-align: left;
  }

  .imgProduct {
    margin: auto;
  }
}
