h1 {
  text-align: center;
  margin-bottom: 2rem;
}

#container-products {
  min-height: 51%;
}

.btn_mod_qta {
  background-color: lightgray;
  border-radius: 15px;
  margin: auto;
}

.btn_conf_qta {
  background-color: rgba(0, 255, 0, 0.6);
  border-radius: 15px;
  margin: auto;
  display: none;
}

.final_total {
  padding: 1.5rem;
  border-bottom: 2px solid #ffa500;
  border-right: 2px solid #ffa500;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.final_total > .cont_rowSpan {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
}

.final_total > .cont_rowSpan > span {
  display: inline-block;
  margin: auto;
}

.final_total > .cont_rowSpan > span.spanLeft {
  margin-left: 0;
}

.final_total > .cont_rowSpan > span.spanRight {
  margin-right: 0;
}

.toBold {
  font-weight: bold;
}

.cont2pay {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.cont2pay > button:first-child {
  background-color: rgba(0, 255, 0, 0.6);
}

.cont2pay > button {
  width: 12rem;
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 15px;
  margin: auto;
}

@media screen and (min-width: 768px) {

  .final_total {
    float: left;
  }

  .final_total_half {
    height: 18rem;
    width: 50%;
  }

  .final_total_third {
    height: 30rem;
    width: 33.333333333333%;
  }
  .final_total_twothird {
    height: 30rem;
    width: 66.6666666666%;
  }
}
