#container-principal {
  width: 100%;
  padding: 2rem;
}

#container-principal > h1 {
  text-align: center;
}

.category {
  margin-top: 2rem;
}

.category-title {
  display: flex;
  padding: 1rem;
  background-color: #ffa500;
  padding-left: 4%;
}

.category-title > .container-title {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-title > .container-title > h2 {
  color: black;
}

.container-icon {
  height: 100%;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  margin-right: 0;
}

.up, .up-sub {
  display: none;
}

.container-icon > .fas {
  font-size: 150%;
  color: black;
}

.listOrdini {
  display: none;
}

.sub-category > .category-title {
  background-color: rgba(255, 160, 0, 0.6);
  height: 5rem;
  align-items: center;
}

.container-field-sub {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changeStatusLarge {
  display: none;
}

.rowProdotto {
  height: 4rem;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.container-field-prodotto {
  width: 75%;
}

.container-field-qta {
  width: 25%;
}

.listProdotti {
  display: none;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ffa500;
}

.changeStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  border-top: 1px solid #ffa500
}

.deliveryOrder {
  margin: auto;
  border-radius: 15px;
  background-color: rgba(0, 255, 0, 0.6);
}

@media screen and (min-width: 1024px) {

  .left {
    float: left;
    width: 50%;
    padding: 2rem;
    padding-top: 0px;
  }

  .right {
    float: left;
    width: 50%;
    padding: 2rem;
    padding-top: 0px;
  }

  .rowProdotto {
    height: auto;
    padding: 2rem;
  }

  .changeStatus {
    display: none;
  }

  .changeStatusLarge {
    display: block;
    font-size: 10pt;
    margin: auto;
  }
}
