#container_principal {
  height: 87%;
  width: 100%;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.cont_luogo {
  width: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  background-color: #ffa500;
  margin: auto;
  margin-bottom: 2rem;
}

.cont_luogo > span {
  font-size: 14pt;
  text-align: center;
}

.cont_radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}



.cont_radio_pagamento {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  width: 100%;
}

.singleRadio_pag {
  width: 50%;
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 0;
}

.singleRadio_pag > figure {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
}

.singleRadio_pag > figure > img {
  width: 100%;
}

.singleRadio_pag > .radio {
  margin-top: 0px;
}

.singleRadio_pag > .radio > input {
  margin-left: 0;
}

.cont_btn {
  width: 100%;
  bottom: 2rem;
  left: 0;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  margin: auto;
}

.btn_spedizione {
  width: 12rem;
  margin: auto;
  border-radius: 15px;
}

.left {
  background-color: rgba(255, 0, 0, 0.6);
}

.right {
  background-color: rgba(0, 255, 0, 0.6);
}

.cont_dataCard {
  padding: 0rem;
  width: 80%;
  margin: auto;
}

.singleInput {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.singleInput > label {
  width: 45%;
  margin-bottom: 0;
}

.singleInput > input {
  width: 50%;
  margin: auto;
  margin-right: 0;
}

@media screen and (min-width: 768px) {

  .cont_luogo, .cont_dataCard, .cont_btn {
    width: 60%;
  }

  .cont_btn {
    margin-top: 1rem;
  }

}

@media screen and (min-width: 1024px) {

  .cont_luogo, .cont_dataCard, .cont_btn {
    width: 40%;
  }

  .cont_btn {
    margin-top: 5rem;
  }
}
