#cont-info-forn {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
}

.logo-forn {
  width: 50%;
  height: 30%;
  margin: auto;
}

.logo-forn > figure {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-forn > figure > img {
  height: 100%;
  width: auto;
}

.data-forn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.data-forn > span {
  text-align: center;
}

.hour {
  border: 1px solid #ffa500;
  padding: 2% 4%;
}

#container-products {
  width: 100%;
  padding: 4% 6%;
}

.category {
  margin-top: 2%;
}

.category-title {
  display: flex;
  padding: 1rem;
  background-color: #ffa500;
  padding-left: 4%;
}

.category-title > .container-title {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-title > .container-title > h2 {
  color: black;
}

.container-icon {
  height: 100%;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  margin-right: 0;
}

.minum {
  display: none;
}

.container-icon > .fas {
  font-size: 150%;
  color: black;
}

.container-products {
  border: 1px solid #ffa500;
  border-bottom: 0px;
  height: auto;
  display: none;
  overflow: hidden;
}

.row-product {
  display: flex;
  flex-direction: column;
  padding: 0 2%;
  border-bottom: 2px solid #ffa500;
  height: 18rem;
}

.container-information {
  height: 70%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffa500;
}

.cont-img-product {
  height: 100%;
  width: 35%;
  float: left;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-img-product > figure {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.img-product {
  max-height: 100%;
  max-width: 100%;
}

.price {
  font-family: "main";
  letter-spacing: 2px;
}

.information-product {
  width: 65%;
  float: right;
  padding: 0.5em;
}

.information-product > span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.information-product > .title-forn:first-child {
  font-size: 14pt;
}

.information-product > .title-forn {
  /* margin: 0.5rem 0px; */
  font-size: 12pt;
}

.information-product > .title-forn > .green {
  color: rgb(0, 205, 0);
}

.information-product > .title-forn > .red {
  color: red;
}

.buy-product {
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem 0.5rem;
}

.buy-product > label {
  margin-right: 2%;
}

.buy-product > span {
  margin: auto;
}

.quantity {
  width: 15%;
  text-align: center;
  border-radius: 15px;
}

.buy-product > .add-car {
  margin: auto auto auto 4rem;
  border-radius: 15px;
}

.product {
  height: 45%;
  padding: 0px;
  border: 1px solid #ffa500;
}

.product:hover{
  box-shadow: 0px 0px 15px #ffa500;
}

.img-container {
  height: 55%;
  width: 100%;
}

.figure-product {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure-product > img {
  height: 100%;
  max-width: 100%;
}

.info-product-container {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info-product {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {

  * {
    font-size: 12pt;
  }

  #cont-info-forn {
    display: block;
  }

  .logo-forn {
    width: 30%;
    height: 100%;
    float: left;
  }

  .logo-forn > figure {
    flex-direction: row;
  }

  .logo-forn > figure > img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .data-forn {
    width: 70%;
    height: 50%;
  }

  .hour {
    padding: 0;
    width: 35%;
    height: 30%;
    margin: auto;
    margin-top: 2rem;
  }

  .hour > * {
    width: auto;
    font-size: 12pt;
    margin: auto;
  }

  .container-products {
    padding-top: 0;
    border: 0px;
    border-left: 2px solid #ffa500;
    margin-bottom: 2rem;
  }

  .row-product {
    width: 50%;
    float: left;
    border-right: 2px solid #ffa500;
    border-collapse: collapse;
  }

  .information-product {
    height: auto;
  }

  .buy-product > #add-car {
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {

  .row-product {
    height: 30rem;
    width: 33.33333333333%;
  }

  .container-information {
    height: 70%;
  }

  .information-product > .title-forn:first-child {
    font-size: 18pt;
    line-height: 1;
  }

  .price {
    font-size: 18pt;
  }

  .cont-img-product {
    width: 50%;
  }

  .cont-img-product > figure {
    flex-direction: row;
    align-items: center;
  }

  .img-product {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }

  .buy-product {
    height: 30%;
  }
}
