#container-section {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

h1 {
  margin: 0px;
}

.title-forn {
  font-size: 18pt;
  font-family: "main";
}

.title {
  text-align: center;
  margin-top: 0px;
}

#container-fornitori {
  width: 100%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-fornitori > a {
  /* width: 100%; */
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fornitore {
  background-color: rgb(255, 240, 230);
  height: 20vh;
  width: 100%;
  border: 2px solid rgb(255, 165, 0);
  padding: 4%;
  margin-bottom: 2%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-img-forn {
  height: 100%;
  width: 55%;
  margin-right: 4%;
}

.container-img-forn > figure {
  height: 100%;
  width: 100%;
  display: flex;
}

.img-fonr {
  height: auto;
  width: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  overflow: hidden;
  width: 45%;
}

.details > a > h4 {
  color: black;
}

.type {
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.desc {
  height: 100%;
}

@media screen and (min-width: 540px) and (max-width: 767px) {
  .fornitore {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {

  #container-fornitori {
    display: block;
    margin-top: 2rem;
  }

  .fornitore {
    width: 100%;
  }

  #container-fornitori > a {
    float: left;
  }
}

@media screen and (min-width: 1024px) {
  #container-fornitori > a {
    margin-left: 0;
  }
}
